<!doctype html>
<html>
  <head>
    <% include ../partials/head %>
  </head>

    <header>
        <% include ../partials/header %>
    </header>

 <body>
 <div class="container">

 <div class="col-sm-6 col-sm-offset-3">
   <div class="jumbotron text-center">

     <h1>Book a Space</h1>
     <br>

<form action="/spaces/new" method="get">
  <button type="submit" class="btn btn-warning btn-lg">List a space</button>

</form>
<br>
<div class="spaces">
  <div class="spaces">
  <% spaces.forEach(function(space) { %>
<p class = "one">
          <button><b><%= space.name %><br></b>
          Description: <%= space.description %> <br>
          Price per night: £<%= space.price %></button>
</p>
<br>
        <% });%>
</div>

</div>


 </div>

 </div>
 </body>

 <footer>
   <% include ../partials/footer %>
 </footer>

 </html>
