<!doctype html>
<html>
  <head>
    <% include ../partials/head %>
  </head>

    <header>
        <% include ../partials/header %>
    </header>

 <body>
 <div class="container">

 <div class="col-sm-6 col-sm-offset-3">

     <h1><span class="fa fa-sign-in"></span> Your space is booked!</h1>
 </div>

 </div>
 </body>

 <footer>
   <% include ../partials/footer %>
 </footer>

 </html>
